.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../../img/backimg.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @include on-desktop {
    &__content {
      max-width: unset;
      padding-inline: 40px;
    }
  }

  &__title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
  }

  &__bottom {
    padding: 0 20px 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }
}
