.icon {
  height: 24px;
  width: 24px;
  display: block;

  &--phone {
    background-image: url(../../icons/icon.png);
    background-repeat: no-repeat;
  }

  &--menu {
    background-image: url(../../icons/burger.png);
    background-repeat: no-repeat;
  }

  &--close {
    background-image: url(../../icons/Icon-Close.png);
    background-repeat: no-repeat;
    padding-right: 20px;
  }
}
