.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 64px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    display: flex;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 24px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__phone-tooltip {
    position: absolute;
    right: 32px;
    white-space: nowrap;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    opacity: 0;
    transform: translateX(8px);
    transition:
      opacity 0.3s,
      transform 0.3s;
    pointer-events: none;
  }

  &__phone-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    &:hover .top-bar__phone-tooltip {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
